@import "styles/vars";

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  height: var(--paddings);
  //background-color: rgba(255, 255, 255, .3);
  background-color: rgba(255, 255, 255, 1);
  z-index: 2;
  transition: opacity .6s ease;

  &.down {
    opacity: 0;
  }
  &.up {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
    //background-color: rgba(255, 255, 255, .5);

    .container {
      transform: translateY(0%);
    }
  }

  .logo {
    z-index: 1;
    position: relative;
    display: block;
    height: 100%;
    aspect-ratio: 43/24;
    max-height: 90%;
    cursor: pointer;
    transition: .3s ease;

    &.active {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.container {
  z-index: 0;
  margin: 0 auto;
  padding: 0 calc(var(--paddings) + 1rem);
  width: 100%;
  max-width: 1420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform .6s ease;

  @media (max-width: $middle) {
    padding: 0 calc(var(--paddings) * .8 + .5rem);
  }
  @media (max-width: 600px) {
    padding: 0 20px;
  }

  nav {
    display: flex;
    height: 100%;
  }

  &.down {
    //transform: translateY(-100%);
  }
  &.up {
    //transform: translateY(0%);
  }
}

.menu {
  display: flex;
  height: 100%;

  li {
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-right: 2rem;
    display: flex;
    align-items: center;

    &:last-of-type {
      margin-right: 0;
    }

    @media (max-width: $middle) {
      margin-right: 1rem;
    }
  }

  a {
    font-size: 1.25rem;
    display: inline-block;

    @media (max-width: $middle) {
      font-size: clamp(16px, 1.389vw, 1.25rem)
    }

    &:after {
      position: absolute;
      content: '';
      //background-color: rgba(white, 0.8);
      background-color: rgba(black, 0.8);
      height: 2px;
      right: 0;
      bottom: 1px;

      transition: .4s ease;
      opacity: 0;
      width: 0;
    }

    &:hover {
      &:after {
        opacity: 1;
        width: 100%;
      }
    }
  }

  .hide_menu {
    position: absolute;
    width: max-content;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    //background-color: rgba(white, .3);
    background-color: rgba(white, .85);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: .2s ease-out;

    li {
      padding: .3rem .5rem;
      margin: 0;
    }
  }

  .about_list:hover {
    .hide_menu {
      opacity: 1;
      pointer-events: unset;
    }
  }
}

.mobile_menu {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;

  &_background {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    background-color: var(--dark);
    opacity: 0;
    pointer-events: none;
    transition: .6s ease;

    &.active {
      pointer-events: inherit;
      opacity: .9;
    }
  }

  &_wrap {
    display: flex;

    padding: var(--paddings);
    width: 100%;
    height: fit-content;
    background-color: var(--bg);
    transform: translateY(-100%);
    opacity: 0;
    transition: transform .6s ease, opacity .8s ease .3s;

    &.active {
      opacity: 1;
      transform: translateY(0);
      transition: transform .6s ease, opacity .2s ease;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;

    @media (max-width: $phone-s) {
      padding-left: 0;
    }

    li {
      font-size: 1.2rem;
      margin-bottom: .5rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        position: relative;
        padding-bottom: .1rem;

        &:before {
          position: absolute;
          content: '';
          width: 0;
          height: 1px;
          bottom: 0;
          left: 0;
          background-color: currentColor;

          transition: .4s ease;
        }

        &:hover:before {
          width: 100%;
        }
      }

      &.about_list {
        margin-bottom: 0;

        & > a {
          position: static;
        }

        ul {
          margin: .5rem 0;
          padding-left: 4rem;

          @media (max-width: $phone-s) {
            padding-left: 3rem;
          }

          a {
            position: relative;
          }
        }
      }
    }
  }

  .burger {
    z-index: 3;
    position: absolute;
    right: 10px;
    top: calc(var(--paddings) * 0.15);
    width: calc(var(--paddings) * 0.8);
    height: calc(var(--paddings) * 0.7);
    cursor: pointer;

    box-sizing: border-box;
    transition: .5s ease;

    & span {
      position: absolute;
      width: 70%;
      height: 2px;
      right: 15%;
      background-color: black;
      transition: .3s ease;

      &:nth-of-type(1) {
        top: 30%;
      }
      &:nth-of-type(2) {
        top: 50%;
      }
      &:nth-of-type(3) {
        top: 70%;
      }
    }

    &:hover span {
      &:nth-of-type(2) {
        width: 30%;
      }
    }

    &.active {
      span {
        &:nth-of-type(1) {
          top: 50%;
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          transform: translateX(100px);
        }
        &:nth-of-type(3) {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.lang {
  z-index: 2;

  display: none;
  justify-content: flex-end;
  cursor: pointer;
  overflow: hidden;
  width: calc(var(--paddings) * 2);
  margin-right: 1rem;

  @media (max-width: 600px) {
    display: flex;
    margin-right: 6rem;
  }
  @media (max-width: $phone-s) {
    margin-right: 3.5rem;
  }

  &_type {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    text-transform: uppercase;

    &.second {
      transform: translateX(-3rem);
      //opacity: 0;
      opacity: 1;
      transition: opacity .2s ease, transform .3s ease .05s;
    }
  }

  &_wrap {
    position: relative;
    display: flex;
    height: calc(var(--paddings) * .7);
    width: calc(var(--paddings) * .7);

    border-radius: 50%;
    //background-color: rgba(white, .4);
    background-color: rgba(#c7b198, .5);

    //&:hover {
    //  .second {
    //    transform: translateX(calc(var(--paddings) * -0.7));
    //    opacity: 1;
    //    transition: transform .3s ease, opacity .2s ease .1s;
    //  }
    //}
  }
}
