@import "styles/vars";

.about_banner {
  background-color: var(--bronze);

  &_wrap {
    display: flex;
    //max-height: 350px;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  &_left {
    position: relative;
    display: block;
    width: 100%;
    max-width: 50%;
    min-height: 350px;
    overflow: hidden;

    img {
      transition: .8s ease;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  &_right {
    box-sizing: border-box;
    position: relative;
    display: flex;
    //flex-direction: column;
    justify-content: space-around;
    align-items: center;
    //padding: 1rem calc(var(--paddings) + 10px) 1rem 2rem;
    padding: 2rem calc(var(--paddings) + 10px);

    width: 100%;
    max-width: 55%;
    margin: 0 auto;

    @media (max-width: $extra) {
      max-width: 70%;
    }
    @media (max-width: $middle) {
      max-width: 100%;
    }
    @media (max-width: 600px) {
      padding: 2rem;
    }
    @media (max-width: $phone-s) {
      flex-direction: column;
      gap: 1rem;
    }

    .text {
      width: 100%;

      //
      p {
        text-align: left;
        font-size: 1.2rem;
        font-weight: 400;
      }
      //

      h2 {
        font-weight: 500;
        margin-bottom: .5rem;
        font-size: 1.75rem;
      }
    }

    .arrow {
      width: 3.5rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: rgba(white, 0.4);
      //
      margin-left: 2rem;
      //
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: $middle) {
        margin-left: 1rem;
      }

      span {
        display: block;
        width: .7rem;
        height: .7rem;
        border-right: 2px solid currentColor;
        border-bottom: 2px solid currentColor;
        transform: rotate(-40deg);

        animation: arrowSlide 1.8s ease infinite;
      }
    }

    @keyframes arrowSlide {
      0% {
        transform: translateX(-1.2rem) rotate(-40deg);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: translateX(.8rem) rotate(-40deg);
        opacity: 0;
      }
    }
  }
}
