@import "styles/vars";

.hero {
  position: relative;
  height: 80vh;
  min-height: 425px;
  overflow: hidden;

  &:before {
    z-index: 0;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: var(--dark);
    opacity: .15;
    pointer-events: none;
  }


  &_title {
    padding-top: var(--paddings);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc(100% - var(--paddings));
    color: #fff;

    h1 {
      font-size: 3rem;
      font-weight: 200;
      letter-spacing: .03rem;

      @media (max-width: $middle) {
        font-size: clamp(27px, 4vw, 3rem);
      }

      b {
        font-weight: 500;
      }
    }
  }

  &_partners {
    height: 20vh;
    max-height: 250px;

    @media (max-height: 775px) {
      height: unset;
    }
    @media (max-width: $big) {
      height: unset;
      max-height: unset;
    }

    h3 {
      box-sizing: content-box;
      font-weight: 500;
      font-size: 1.75rem;
      line-height: 1;
      text-align: center;
      padding-top: 2rem;
      height: 2.25rem;
      width: 100%;
    }

    &_wrap {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      gap: 1rem;
      width: 100%;
      height: calc(100% - 4.5rem);
      padding: 0.7rem 0 1rem;

      @media (max-width: $big) {
        grid-template-columns: repeat(3, 1fr);
        height: auto;
      }
      @media (max-width: $middle) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &_logo {
      position: relative;
      cursor: pointer;
      aspect-ratio: 3/1;
      @media (max-width: $big) {
        aspect-ratio: 4/1;
      }

      &:first-of-type {
        margin: 0 1rem;
      }
    }
  }
}

