@import "styles/vars";

.layout {
  position: relative;
  z-index: 0;
}

.border {
  z-index: 1;
  position: absolute;
  content: '';
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  width: var(--paddings);
  transition: .35s ease;

  @media (max-width: $middle) {
    width: calc(var(--paddings) * .8);
  }

  &.left {
    left: 0;

    @media (max-width: 600px) {
      display: none;
    }
  }
  &.right {
    right: 0;

    display: flex;
    flex-direction: column;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &_wrap {
    position: fixed;
    width: var(--paddings);
    height: calc(100vh - var(--paddings)*2);
    padding: var(--paddings) 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    transition: .3s ease;

    @media (max-width: $middle) {
      width: calc(var(--paddings) * .8);
    }
  }

  &.hide {
    opacity: 0;

    .border_wrap {
      transform: translateX(100%);
    }
  }
}

.right:hover ~ .left,
.right:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);

  .border_wrap {
    transform: translateX(0%);
  }
}

.social {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li, a {
    display: flex;
    min-height: 1.5rem;
    height: min-content;
    align-items: center;
  }

  & svg path {
    fill: currentColor;
  }
}

.lang {
  --height: 4rem;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  height: var(--height);
  overflow: hidden;

  &_type {
    line-height: 2;
    text-align: center;
    user-select: none;
    text-transform: uppercase;

    &.second {
      //transform: translateY(var(--height));
      //opacity: 0;
      transform: translateY(0);
      opacity: 1;
      transition: opacity .2s ease, transform .3s ease .05s;
    }
  }

  &_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(var(--height)/2);
    width: calc(var(--height)/2);

    border-radius: 50%;
    background-color: rgba(white, .4);

    //&:hover {
    //  .second {
    //    transform: translateY(0);
    //    opacity: 1;
    //    transition: transform .3s ease, opacity .2s ease .1s;
    //  }
    //}
  }
}

