@import "styles/vars";

.partner {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  gap: 3rem;

  @media (max-width: $phone) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 1.55rem;
    }
  }

  &_logo {
    position: relative;
    width: 100%;
    aspect-ratio: 3/1;

    @media (max-width: $phone) {
      width: 50%;
      margin: 0 auto;
    }

    &.square {
      aspect-ratio: 2/1;
    }
  }

  &_projects {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;

    li {
      font-size: 1.25rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

