
.footer {
  background-color: rgba(255, 255, 255, .3);
  font-size: 1rem;

  .wrap {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      text-align: center;
    }
  }

  .terms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .3em;

    a {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: var(--dark);
        opacity: .7;
        transition: .5s ease;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }

  .social {
    ul {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1em;

      svg {
        width: 22px;
        height: 22px;
        box-sizing: border-box;
      }

      li {
        opacity: .5;
        transition: .5s ease;

        a {
          display: flex;
          align-items: center;
          gap: .4em;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .payment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
