@import "styles/vars";

.section {
  background-color: white;
  padding-bottom: 0 !important;

  h1 {
    margin-bottom: 2rem;
    padding-top: 1rem;
  }
}

.green_text {
  z-index: 0;
  position: relative;
  background: #9BDBCE;
  padding-bottom: 2rem;
  p:last-of-type {
    margin-bottom: 0;
  }

  .wave {
    z-index: -1;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding-left: calc(var(--paddings) + 1.5rem);
  padding-right: calc(var(--paddings) + 1rem);
}

.title {
  padding: 2rem 0;
  color: white;
  background-color: #3C746D;

  h2 {
    margin-bottom: 0;
    text-transform: unset;
    font-size: 1.55rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 0.75rem;
    font-weight: 300;
  }
}

.links {
  a {
    color: var(--orange);
    font-weight: 500;
    transition: .3s ease;
    letter-spacing: -.02em;

    &:hover {
      color: #693b04;
      letter-spacing: .02em;
    }
  }
}

