@import "styles/vars";

.home_active {
  padding: 7rem 0;

  @media (max-width: $big) {
    padding: 5rem 0;
  }
  @media (max-width: 870px) {
    padding: 30px 0 65px;
  }
  @media (max-width: $middle-s) {
    padding: 40px 0 50px;
  }


  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 calc(var(--paddings) + 1rem);
    height: 100%;

    @media (max-width: 870px) {
      padding: 0 2rem;
    }
    @media (max-width: $middle-s) {
      padding: 0;
    }
  }

  &_wrap {
    display: grid;
    grid-template-columns: 35% 65%;
    max-width: 80%;
    margin: 0 auto;
    min-height: 250px;

    @media (max-width: $big) {
      max-width: 100%;
    }
    @media (max-width: 870px) {
      display: flex;
      flex-direction: column;
    }

  }

  .item_left {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 870px) {
      display: none;
    }

    .item {
      width: 50%;
      transform: scale(1.3);
      @media (max-width: $middle) {
        width: auto;
      }

      &_wrap {
        width: 100%;

        @media (max-width: $middle) {
          gap: .8rem;

          .item_icon {
            margin-bottom: 0;
          }
        }
        @media (max-width: $middle-s) {
          min-height: auto;
        }
      }
    }
  }

  .item {
    display: flex;
    justify-content: center;
    width: 33%;

    @media (max-width: $middle-s) {
      width: 40%;
    }

    &_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      border-radius: .5rem;
      padding: .5rem .75rem;
      //width: 80%;

      transition: .3s ease;

      @media (max-width: $middle) {
        width: 100%;
        min-height: 180px;
      }
      @media (max-width: $middle-s) {
        min-height: 150px;
      }

      &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 20px rgba(255, 255, 255, .6);
      }
    }

    &_icon {
      display: flex;
      border-radius: 50%;
      background-color: #b69f85;
      margin-bottom: .75rem;
    }

    svg {
      width: 5.5rem;
      height: 5.5rem;
      padding: 2rem;

      @media (max-width: $middle) {
        width: clamp(50px, 10vw, 5.5rem);
        height: clamp(50px, 10vw, 5.5rem);
        padding: min(3.5vw, 2rem);
      }

      @media (max-width: 450px) {
        width: 4rem;
        height: 4rem;
      }
    }

    p {
      display: inline-block;
    }
  }

  &_cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 10%;

    @media (max-width: 870px) {
      margin-left: 0;
      width: 100%;
      gap: 2rem;
    }
    @media (max-width: $middle-s) {
      gap: 1rem;
    }

    .top_cards {
      display: flex;
      justify-content: space-evenly;

      @media (max-width: $middle-s) {
        justify-content: center;
      }
    }
    .bottom_cards {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @media (max-width: $middle-s) {
        justify-content: center;
      }
    }
  }
}