@import "vars";

.activities {
  z-index: 0;

  &.section {
    padding: calc(var(--paddings) * 2) 0 0;
  }

  h1 {
    position: relative;
    padding-bottom: 4.5rem;
    margin-bottom: 1.5rem;
  }

  p {
    text-align: left;
    font-weight: 400;
  }

  &_wrap {
    background-color: white;

    &.animals-wrap {
      padding-top: 3rem;

      h3 {
        font-weight: 500;
        font-size: 1.55rem;
        margin-bottom: 1rem;
      }
    }
  }

  .container {
    @media (max-width: $phone-s) {
      padding: 0 1rem;
    }
  }

  &_item {
    z-index: 0;
    display: flex;
    flex-direction: column;
    //min-height: calc(31.25vw + 6rem);

    &-text-under {
      font-weight: 400;
      margin-bottom: 1.5rem !important;
      font-size: 1.4rem !important;
    }

    &-content {
      display: flex;
      flex-direction: column;
      width: calc(100vw - 2 * (var(--paddings) + 2rem));
      max-width: 1440px;
      position: relative;
      padding: 5rem 0;

      @media (max-width: 955px) {
        width: 100%;
      }
      @media (max-width: $middle-s) {
        padding: 1.5rem 0;
      }

      h2 {
        text-transform: uppercase;
        font-size: 1.75rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
      }
      h3 {
        font-weight: 500;
        font-size: 1.55rem;
        text-align: start;
      }

      & p:last-of-type {
        position: relative;
        margin-bottom: 0;
        font-size: 1rem;
        text-align: left;
      }
    }

    &-picture {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 50vw;
      margin: 0 auto;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 8%;

      @media (max-width: $middle-s) {
        flex-direction: column;
      }

      &.list {
        padding: 0;
        margin: 0;

        li {
          @media (max-width: $phone) {
            margin-bottom: .5rem;
          }

          &:before {
            left: -1.5rem;
          }
        }
      }

      ul {
        max-width: 46%;
        margin-bottom: 1.2rem;
        font-size: 1rem;
        padding-left: 2rem;

        @media (max-width: $middle-s) {
          max-width: unset;
        }
      }
    }

    &-wrap {
      //display: grid;
      //grid-template-columns: repeat(2, 1fr);
      display: flex;
      flex-direction: column;
      gap: 5%;
      margin-bottom: 2.5rem;

      ul {
        margin: 1.5rem 0;
        padding: 0;
        width: 100%;

        li {
          display: flex;
          flex-direction: column;
          max-height: calc(1em + 5px);
          width: calc(100% - 16px);;
          overflow: hidden;
          box-shadow: 0 0 15px rgba(0, 0, 0, .2);
          border-radius: .4em;
          margin-bottom: 1em;
          transition: .7s ease;
          padding: 8px;

          @media (max-width: $phone-s) {
            max-height: 1em;
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          &.active {
            max-height: calc(1em + 16px + 40vw);

            span:before {
              right: .34rem;
            }
            span:after {
              right: .66rem;
            }
          }

          span {
            position: relative;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1;
            cursor: pointer;

            @media (max-width: $phone-s) {
              font-size: .95rem;
            }

            &:before, &:after {
              position: absolute;
              content: '';
              right: 0;
              bottom: 10%;
              height: 2px;
              width: 1rem;
              background-color: currentColor;
              transition: .5s ease;
            }
            &:before {
              transform: rotate(45deg);
              right: .9rem;
              transform-origin: right;
            }
            &:after {
              transform: rotate(-45deg);
              transform-origin: left;
            }
          }

          iframe {
            width: 100%;
            height: 40vw;
            margin-top: .7rem;
          }
        }
      }
    }

    &-documents {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-image {
      display: block;
      z-index: 0;
    }
    &-slide {
      aspect-ratio: 4/3;
      user-select: none;
    }
  }

  &_last-text {
    margin: 2rem calc(var(--paddings) + 2rem) 0;

    @media (max-width: 600px) {
      margin: 2rem 2rem 0;
    }
  }

  &-btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin-top: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    transition: .5s ease;
    border-radius: .3rem;
    //background-color: var(--orange);

    span {
      transition: .3s ease;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: .15em 0;
    }

    button {
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.2rem;
      padding: .7rem 1.5rem;
    }

    &:hover {
      background-color: var(--bronze);
    }
  }

  ul.image-grid {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    display: grid;
    gap: 4%;

    @media (max-width: $middle) {
      gap: 2rem;
    }

    @media (min-width: $middle + 1px) {
      &.grid-1 {
        display: flex;
        flex-direction: column;
        padding: 0 15%;
      }
      &.grid-2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 6%;
      }
      &.grid-3 {
        grid-template-columns: repeat(3, 1fr);
        gap: 4%;
      }
    }


    @media (max-width: $middle) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    h3 {
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $middle) {
        width: 80%;
        margin: 0 auto;
      }
    }

    a {
      width: 100%;
      aspect-ratio: 4/3;
      overflow: hidden;
    }

    .image-grid__item {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      transition: .5s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}