
.blogPreview {
  &__item {
    display: flex;
    margin-bottom: 4rem;
    min-height: 200px;
    transition: height .5s ease;

    @media (max-width: $middle) {
      min-height: auto;
    }
    @media (max-width: 640px) {
      flex-direction: column;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
      h2 {
        margin-left: 1em;
        letter-spacing: .04em;
        opacity: 1;
      }
      p:first-of-type {
        opacity: 1;
      }
      span {
        opacity: .9;
      }
    }
  }

  &__image {
    position: relative;
    width: 35%;
    @media (max-width: $big) {
      width: 45%;
    }
    @media (max-width: 640px) {
      width: 100%;
      aspect-ratio: 5/2;
    }

    img {
      transition: .5s ease;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 5%;

    @media (max-width: $big) {
      width: 50%;
    }
    @media (max-width: 640px) {
      width: 100%;
      margin-left: 0;
      margin-top: 1rem;
    }

    h2 {
      text-align: start;
      margin-bottom: .5rem;
      font-weight: 400;
      transition: margin-left .3s ease, letter-spacing .3s ease, opacity .5s ease;
      opacity: .7;
      line-height: 1;
      min-height: 2em;

      @media (max-width: $middle) {
        margin-bottom: .75rem;
      }
    }
    p:first-of-type {
      text-align: start;
      margin-bottom: 2.75rem;
      transition: .5s ease;
      opacity: .7;
      max-width: 700px;

      @media (max-width: $middle) {
        margin-bottom: 1.5rem;
      }
    }
    span {
      margin-bottom: 1rem;
      transition: .5s ease;
      opacity: .6;
      color: #3d3d3d;

      @media (max-width: $middle) {
        margin-bottom: 0;
      }
    }
  }
}