@import "vars";

.contact {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem 0;

  background-color: rgba(#2C2C2C, .9);

  opacity: 0;
  pointer-events: none;
  transition: .4s ease;

  &.popup {
    opacity: 1;
    pointer-events: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h3 {
    position: relative;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
  }

  &_form {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 2rem 15%;

    @media (max-width: $phone) {
      width: 85%;
    }
  }

  &_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &_inputs {
    display: flex;
    justify-content: space-between;

    .contact_item {
      width: 49%;
    }

    @media (max-width: $middle) {
      flex-direction: column;

      .contact_item {
        width: auto;
      }
    }
  }

  &_item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    input, textarea {
      //width: 100%;
      border: 0.5px solid var(--bronze);
      font-size: clamp(16px,1.25vw,24px);
      line-height: 1.46;
      padding: .5rem .8rem;
      border-radius: .5rem;

      &:focus {
        outline: none;
        box-shadow: 0px 0px 25px rgba(#F0E3D0, 1);
      }
    }

    textarea {
      resize: none;
      font-family: inherit;
    }
  }

  &_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 0 auto;

    @media (max-width: $middle) {
      width: auto;
    }

    &:hover button {
      color: white;
      background-color: var(--bronze);
    }

    button {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0.3rem 0.5rem 0.8rem;
      width: 100%;
      height: 40%;
      cursor: pointer;
      text-transform: uppercase;

      border: 0.5px solid var(--bronze);
      border-radius: .5rem;

      background-color: white;
      transition: .6s ease;

      &:disabled,
      &[disabled]{
        border: 0.5px solid var(--dark);
        background-color: #5e5858;
        color: white;

        .arrow {
          span {
            animation: unset;
            opacity: 0;
          }

          &:before,
          &:after {
            position: absolute;
            content: '';
            background-color: white;
            width: 1rem;
            height: 2px;
            top: 80%;
            left: 50%;
            transform-origin: left;
          }
          &:before {
            transform: rotate(45deg) translateX(-50%);
          }
          &:after {
            transform: rotate(-45deg) translateX(-50%);
          }
        }

        &:hover {
          background-color: #5e5858;
        }
      }
    }

    .arrow {
      position: relative;
      margin: 0;
      background-color: rgba(white, 0);
      transform: rotate(-90deg);
    }
  }

  &_error {
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    font-size: .8rem;
    line-height: 1;
  }

  &_success {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      padding: 2rem;
    }
  }

  &_cross {
    position: absolute;
    width: 1.5rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: .3s ease;

    right: -5rem;
    top: -3rem;

    @media (max-width: $middle) {
      right: 0;
    }

    &.success {
      right: -3rem;
      top: -2rem;
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      background-color: white;
      width: 100%;
      height: 2px;
      top: 50%;
      left: 50%;
      transform-origin: left;
      transform: rotate(45deg) translateX(-50%);
    }
    &:after {
      transform: rotate(-45deg) translateX(-50%);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}