@import "vars";

.documents {
  h1 {
    padding-bottom: 3rem;
  }

  &_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 calc(var(--paddings)/3);
    row-gap: 3rem;
    column-gap: 1rem;

    @media (max-width: $big) {
      display: flex;
      flex-direction: column;
    }
    @media (max-width: $middle) {
      padding: 0 calc(var(--paddings)/2);
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;

    transition: .5s ease;

    h3 {
      margin-bottom: 1.5rem;
      font-weight: 500;
      text-transform: uppercase;
      max-width: 80%;

      @media (max-width: $big) {
        max-width: 100%;
      }
    }

    iframe {
      width: 100%;
      height: auto;
      min-height: clamp(250px, 35vw, 480px);

      @media (max-width: $middle) {
        min-height: clamp(250px, 45vw, 480px);
      }
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 2px 40px rgba(255, 255, 255, 1);
      background-color: var(--beige);
    }
  }
}