@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
@import 'history';
@import 'purchase';
@import 'home-team';
@import 'states';
@import 'terms-privacy';
@import 'documents';
@import 'help';
@import 'activities';
@import 'contact';
@import 'vars';
@import 'team';
@import 'report';
@import 'projects';
@import 'news';
@import 'blogPreview';
@import 'partners';


:root {
  --font-size: clamp(14px, 1.11111vw, 16px);
  --paddings: 4rem;
  --dark: #2C2C2C;
  --bg: #F0E3D0;
  --bronze: #c7b198;
  --beige: #f1e1cd;
  --orange: #dc7c0c;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  scroll-behavior: smooth;
  color: var(--dark);
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,h2,h3,h4,h5,p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

h1 {
  font-size: clamp(28px, 2.535vw, 2.5rem);
  text-transform: uppercase;
}

.container {
  //width: calc(100% - (var(--paddings) * 2.5));
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 calc(var(--paddings) + 1rem);
  height: 100%;

  //@media (max-width: $middle) {
  //  //width: calc(100% - var(--paddings));
  //  padding: 0 calc(var(--paddings) * 0.8 + 1.5rem) 0 1.5rem;
  //}
  @media (max-width: 600px) {
    padding: 0 2rem;
  }
}

.section {
  padding: calc(var(--paddings) * 2) 0;

  @media (max-width: $middle) {
    padding: calc(var(--paddings) * 2) 0 var(--paddings);
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;

    b {
      font-weight: 500;
    }
  }
}

* {
  box-sizing: content-box;
}

main {
  min-height: calc(100vh - 4rem);
}


html[lang='en'] {
  .buttons span {
    font-size: 1.2rem;
    max-width: 5rem;
  }
}

.buttons {
  display: flex;
  gap: .5rem;
  text-align: center;

  margin-top: 1rem;

  a {
    z-index: 0;
    position: relative;
    font-weight: 500;
    border: none;
    border-radius: .3rem;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
    overflow: hidden;
    cursor: pointer;

    span {
      width: 7rem;
      max-width: 7rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:after {
      z-index: -1;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: var(--bg);
      opacity: .4;
      transition: .6s ease;
    }

    &:before {
      content: '';
      height: 5rem;
      width: 2.5rem;
      display: block;
      filter: blur(10px);
      left: -100px;
      top: 50%;
      background: linear-gradient(90deg, rgba(196, 202, 206, .9) 0%, rgba(255, 255, 255, 1) 50%, rgba(196, 202, 206, .9) 100%);
      opacity: .7;
      transform: translateY(-50%) rotate(10deg);
      position: absolute;
      transition: all .6s ease;
    }

    &:hover {
      //background-color: var(--bronze);
      &:before {
        left: calc(100% + 2rem);
      }
      &:after {
        background-color: var(--bronze);
        opacity: .8;
      }
    }
  }

}

.arrow {
  width: 4rem;
  height: 4rem;
  margin-top: 2rem;
  border-radius: 50%;
  background-color: rgba(white, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    width: .75rem;
    height: .75rem;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(45deg);

    animation: arrowSlide 1.8s ease infinite;
  }
}

@keyframes arrowSlide {
  0% {
    transform: translateY(-1.2rem) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(.8rem) rotate(45deg);
    opacity: 0;
  }
}


.error {
  box-sizing: border-box;
  min-height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-transform: uppercase;
  }

  &-wrap {
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);

    &:hover {
      &:before {
        opacity: 0.1;
      }
    }

    &:before {
      z-index: 1;
      position: absolute;
      content: '';
      background-color: var(--bronze);
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      opacity: .3;
      pointer-events: none;
      transition: 1s ease;
    }

    h1 {
      z-index: 0;
    }
  }
}

.list {
  padding: 0 3rem;
  margin-top: 4rem;

  li {
    position: relative;
    list-style: none;
    margin-bottom: 1rem;
    cursor: default;

    &:before {
      position: absolute;
      content: '';
      left: -2rem;
      top: .3em;

      width: .5rem;
      height: .5rem;
      border: 2px solid #fff;
      border-radius: 50%;

      transition: .3s ease;
    }

    &:hover {
      &:before {
        background-color: #fff;
      }
    }
  }
}

.cork {
  z-index: 0;
  position: relative;
  max-width: 70%;
  margin: 80px auto;
  background-color: var(--bronze);
  border-radius: 1rem;
  overflow: hidden;

  h2 {
    font-size: 2rem;
    padding: 5rem 3rem;
  }

  &-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    pointer-events: none;
  }
}