@import "vars";

.help {
  &_wrap {
    margin: 3rem 0;
  }

  h3 {
    font-size: 1.5rem;
  }

  & .buttons {
    font-size: 1.1rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 80%;
    margin: 2rem auto 0;
    row-gap: 1rem;
    column-gap: 2%;



    @media (max-width: $middle) {
      max-width: 100%;
    }
    @media (max-width: $phone) {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &.donate_sum {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    a {
      z-index: 0;
      position: relative;
      transition: .5s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      &:after {
        background-color: transparent;
        opacity: 1;
      }

      &:hover {
        &:after {
          background-color: rgba(#c7b198, .4);
        }
      }
    }

    .otherSum {
      @media (max-width: $phone) {
        height: 1.1rem;
      }
    }

    a.active {
      box-shadow: 0 0 5rem rgba(white, 1);

      &:after {
        background-color: var(--bronze);
        opacity: 1;
      }
    }

    label {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: .5s ease;

      span {
        position: absolute;
        width: 100%;
        max-width: 100% !important;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.1rem;
        line-height: 1;
        transition: .2s ease;
      }

      &.active span {
        transform: translate(-50%, -145%) scale(.7);
      }
    }

    input {
      z-index: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.1rem;
      text-align: center;
      border: none;
      outline: none;
      background: transparent;
      box-shadow: none;

      &:focus {
        outline: none;

        & + label {
          background-color: var(--bronze);
          span {
            transform: translate(-50%, -145%) scale(.7);
          }
        }
      }

      &[type=number] {
        -moz-appearance: textfield;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  &_content {
    margin: 4rem 1rem 0;
    font-size: 1.6rem;
    font-weight: 400;

    @media (max-width: $phone) {
      margin: 4rem 0 0;
    }

    h2 {
      text-align: start;
    }

    & .buttons {
      width: fit-content;
      max-width: unset;
      min-width: 50%;
      grid-template-columns: repeat(3, 1fr);
      margin: 0 0 1rem;

      @media (max-width: $big) {
        width: 80%;
      }

      @media (max-width: $middle) {
        min-width: 100%;
      }
    }
  }

  & &_payment-data {
    margin-top: 2rem;
    font-size: 1rem;
    width: 70%;

    @media (max-width: $big) {
      width: 90%;
    }
    @media (max-width: $middle) {
      width: 100%;
    }

    h4 {
      font-size: 1.4rem;
      text-align: start;
      font-weight: 400;
      margin-bottom: .5rem;
    }

    & p {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      margin-bottom: .75rem;
      text-align: start;
      word-break: break-word;
    }
  }

  &_copy {
    display: flex;
    width: 1.2rem;
    min-width: 1.2rem;
    height: 1.2rem;
    min-height: 1.2rem;
    cursor: pointer;

    svg path {
      transition: .3s ease;
      opacity: .5;
    }

    &.active {
      svg path {
        opacity: 1;
        fill: var(--bronze);
      }
    }

    @media (max-width: $middle) {
      padding-left: 1rem;
    }

    &:hover {
      svg path {
        opacity: 1;
      }
    }
  }

  &_card {
    &-form {
      display: flex;
      flex-direction: column;
      width: auto;
      max-width: 75%;

      padding: 1.5rem;
      margin-top: 1rem;

      border-radius: 20px;
      box-shadow: 0px 0px 40px rgba(255, 255, 255, 1);

      @media (max-width: $big) {
        max-width: 90%;
      }
      @media (max-width: $middle) {
        max-width: 100%;
      }

      h3 {
        text-align: start;
        margin-bottom: .75rem;
      }

      .buttons {
        width: 100%;

        &--payment-type {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    &-item {
      margin-bottom: 1.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      & .contact_item {
        padding: 0 0 1rem;
      }
      & .contact_error {
        top: unset;
        bottom: 0;
      }

      &.help_card-date {
        display: grid;
        gap: 4%;
        grid-template-columns: 7fr 3fr;
        
        @media (max-width: $phone) {
          display: flex;
          flex-direction: column;
        }

        .react-datepicker__input-container {
          position: relative;
          box-shadow: 0 0 15px rgba(black, 20%);
          border-radius: 0.3rem;
          overflow: hidden;
          transition: .5s ease;

          &:before {
            content: '';
            height: 5rem;
            width: 2.5rem;
            display: block;
            filter: blur(10px);
            left: -100px;
            top: 50%;
            background: linear-gradient(90deg, rgba(196, 202, 206, .9) 0%, rgba(255, 255, 255, 1) 50%, rgba(196, 202, 206, .9) 100%);
            opacity: .7;
            transform: translateY(-50%) rotate(10deg);
            position: absolute;
            transition: all .6s ease;
          }
          &:after {
            z-index: -1;
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: var(--bg);
            border-radius: 0.3rem;
            opacity: .4;
            transition: .6s ease;
          }

          &:hover {
            &:before {
              left: calc(100% + 2rem);
            }
            &:after {
              background-color: var(--bronze);
              opacity: .8;
            }
          }
        }

        input {
          border: none;
          outline: none;
          background: transparent;
          padding: 1rem .5rem;
          text-align: center;
          cursor: pointer;

          &:focus {
            outline: none;
          }
        }

        .react-datepicker {
          background: var(--bg);
          border: 1px solid var(--bronze);
        }
        .react-datepicker__header {
          background: var(--bronze);
        }
        .react-datepicker__navigation-icon:before {
          border-color: white;
        }
        .react-datepicker__day {
          border-radius: 5px;
          background: transparent;
          transition: .2s ease;
          border: 1px solid transparent;

          &:hover {
            box-shadow: 0 0 15px rgba(white, 1);
            border: 1px solid white;
          }
        }
        .react-datepicker__day--selected {
          background: var(--bronze);
        }
        .react-datepicker__triangle {
          &:after {
            border-bottom-color: var(--bronze) !important;
            border-top-color: var(--bg) !important;
          }
        }
        .react-datepicker-wrapper {
          width: fit-content;
          margin-left: auto;

          @media (max-width: $phone) {
            margin-left: unset;
          }
        }
      }
    }
  }

  &_contact {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 2%;

    @media (max-width: $middle) {
      display: flex;
      flex-direction: column;
    }

    .contact_item input {
      background: transparent;
      border: none;
      padding: 1rem 2rem;
      box-shadow: 0 0 15px rgba(black, 20%);
      transition: .5s ease;

      @media (max-width: $middle-s) {
        padding: 1rem;
      }

      &:focus {
        box-shadow: 0 0 15px rgba(black, 20%);
        background-color: var(--bronze);
      }

      &::placeholder {
        color: currentColor;
      }
    }
  }

  &_checkbox {
    margin-top: -1.5rem;

    label {
      position: relative;
      font-size: 1rem;
      cursor: pointer;
      padding: .5rem 0 .5rem 2rem;
      display: inline-flex;

      a {
        display: inline;
        word-break: break-word;
        color: rgba(#9b5c06, .6);
        margin-left: .5em;
        transition: .3s ease;

        &:hover {
          color: #9b5c06;
        }
      }

      &:hover input ~ .checkmark {
        background-color: rgba(#c7b198, 1);
      }
    }

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: var(--bronze) !important;
      }
      &:checked ~ .checkmark:after {
        display: block;
      }
    }

    .checkmark {
      position: absolute;
      top: 50%;
      left: 0;
      height: 1.2rem;
      width: 1.2rem;
      background-color: rgba(#c7b198, .5);
      border-radius: 2px;
      transform: translateY(-50%);
      transition: .3s ease;

      &:after {
        position: absolute;
        content: "";
        display: none;
        left: 50%;
        top: -10%;
        width: 40%;
        height: 40%;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        transform: rotate(-45deg) translateX(-65%);
      }
    }
  }

  &_submit {
    button {
      z-index: 0;
      position: relative;
      border: none;
      outline: none;
      overflow: hidden;

      border-radius: .3rem;
      font-weight: 500;
      background-color: var(--bronze);
      box-shadow: 0 0 15px rgba(0, 0, 0, .2);

      cursor: pointer;
      padding: 1rem 2rem;

      &:before {
        content: '';
        height: 5rem;
        width: 2.5rem;
        display: block;
        filter: blur(10px);
        left: -100px;
        top: 50%;
        background: linear-gradient(90deg, rgba(196, 202, 206, .9) 0%, rgba(255, 255, 255, 1) 50%, rgba(196, 202, 206, .9) 100%);
        opacity: .7;
        transform: translateY(-50%) rotate(10deg);
        position: absolute;
        transition: all .6s ease;
      }
      &:hover:before {
        left: calc(100% + 2rem);
      }

      &:disabled,
      &[disabled] {
        &:hover:before {
          left: -100px;
        }
      }
    }

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
