@import "vars";

.history {
  p {
    text-align: start;
    font-weight: 400;
  }
  &-title {
    margin-bottom: 1.5em;
    font-size: 3rem;
    text-transform: uppercase;
  }

  & .list {
    text-align: justify;
    font-size: 1.25rem;
    h2 {
      margin-bottom: 1rem;
    }
  }

  .history_cards {
    padding-top: 2rem;
    margin: 0 2rem;

    &_wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10%;

      @media (max-width: $big) {
        gap: 5%;
      }
      @media (max-width: $middle) {
        display: flex;
        flex-direction: column;
        row-gap: calc(var(--paddings) / 2);
      }

      .item {
        z-index: 0;
        position: relative;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.2rem;

        padding: 1.5rem;
        border-radius: 2rem;
        box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.6);

        @media (max-width: $middle) {
          width: 45%;
        }
        @media (max-width: $phone) {
          width: 60%;
        }
        @media (max-width: $phone-s) {
          width: auto;
        }

        &:before {
          z-index: -1;
          position: absolute;
          content: '';
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background-color: var(--bg);
          opacity: .5;
        }

        &.first {
          animation: scaleFirst 5s ease infinite;

          @media (max-width: $middle) {
            align-self: flex-start;
          }
        }
        &.second {
          animation: scaleSecond 5s ease infinite;

          @media (max-width: $middle) {
            align-self: flex-end;
          }
        }
        &.third {
          animation: scaleThird 5s ease infinite;

          @media (max-width: $middle) {
            align-self: flex-start;
          }
        }
      }
    }

    @keyframes scaleFirst {
      0% {
        transform: scale(1);
      }
      10% {
        transform: scale(1.1);
      }
      25% {
        transform: scale(1.1);
      }
      35% {
        transform: scale(1);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes scaleSecond {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1);
      }
      35% {
        transform: scale(1.1);
      }
      50% {
        transform: scale(1.1);
      }
      60% {
        transform: scale(1);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes scaleThird {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1);
      }
      60% {
        transform: scale(1.1);
      }
      75% {
        transform: scale(1.1);
      }
      85% {
        transform: scale(1);
      }
      100% {
        transform: scale(1);
      }
    }
  }

}

