@import "styles/vars";

.home-team {
  position: relative;
  color: #fff;
  z-index: 0;

  .swiper {
    width: 100%;
    height: 100%;
    z-index: 0;

    &-wrapper {
      padding: 4rem 0 6rem;
    }
  }

  .parallax-bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url('/images/team-bg.webp');

    &:before {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      opacity: .3;
      background: var(--dark);
      pointer-events: none;
    }
  }

  .swiper-slide {
    color: currentColor;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      position: relative;
      opacity: .5;

      display: flex;
      flex-direction: column;
      align-items: center;
      user-select: none;

      max-width: 300px;
      transition: .3s ease;

      img {
        object-position: top;
        object-fit: cover;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        margin-bottom: 1rem;
      }

      h3 {
        margin-bottom: 1rem;
        font-size: 1.4rem;
      }

      p {
        margin-bottom: 1rem;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  .swiper-slide-active {
    .card {
      opacity: 1;
    }
  }
  & .swiper .swiper-pagination {
    bottom: 20px;

    & .swiper-pagination-bullet {
      background-color: white;
      height: calc(var(--font-size) * 0.8);
      width: calc(var(--font-size) * 0.8);
    }
  }

  .prev, .next {
    cursor: pointer;
    width: 49px;
    height: 10px;
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg width="49" height="10" viewBox="0 0 49 10" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.17511 9.24265L5.88222 8.53555L2.84665 5.49998H48.931V4.49998H2.84714L5.88267 1.46445L5.17556 0.757339L1.63979 4.29312L1.63958 4.29291L0.932468 5.00001L5.17511 9.24265Z" fill="white"/> </svg>');
    @media (min-width: 1550px) {
      width: 64px;
    }

    &:hover {
      opacity: 1;
    }
  }
  .team-controller {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 calc(var(--paddings) + 5%);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $middle-s) {
      padding: 0 40px;
    }
    @media (max-width: $phone-s) {
      padding: 0 15px;
    }
  }
  .team-next,
  .team-prev {
    cursor: pointer;
    opacity: 0.5;
    transition: .5s;
    margin-top: 0;
    aspect-ratio: 1/1;

    @media (max-width: $middle-s) {
      width: 3.2rem;
      height: 3.2rem;
    }

    &:hover {
      opacity: 1;
    }
  }
  .team-next {
    transform: rotate(-90deg);
  }
  .team-prev {
    transform: rotate(90deg);
  }

  .team-bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    .swiper-pagination-bullet {
      height: calc(1rem * .75);
      width: calc(1rem * .75);
      background-color: white;
      opacity: .2;

      &-active {
        opacity: 1;
      }
    }
  }
}
