@import "styles/vars";

.news {
  z-index: 0;
  position: relative;

  --margin: clamp(8px, 1.75vw, 2rem);


  &__wrap {
    position: relative;
    display: flex;
    flex-flow: row wrap;

    padding-top: clamp(60px, 12.500vw, 100px);

    &:before {
      position: absolute;
      content: '';
      top: 45px;
      left: 0;
      right: 0;
      height: 1px;
      background: currentColor;
    }
  }

  &__item {
    position: relative;
    width: 60%;
    margin-right: var(--margin);
    margin-bottom: 2rem;
    background: white;
    //aspect-ratio: unset;
    aspect-ratio: 338/171;


    &:nth-of-type(6n - 4) {
      width: calc(40% - var(--margin));
      margin-right: 0;
      aspect-ratio: 5/4;
    }
    &:nth-of-type(6n - 3) {
      width: calc(40% - var(--margin));
      aspect-ratio: 5/4;
    }
    &:nth-of-type(6n - 2) {
      margin-right: 0;
      aspect-ratio: unset;
    }
    &:nth-of-type(6n - 1) {
      width: calc(50% - var(--margin)/2);
      aspect-ratio: 5/4;
    }
    &:nth-of-type(6n) {
      width: calc(50% - var(--margin)/2);
      margin-right: 0;
    }

    @media (max-width: $middle-s) {
      width: 100% !important;
      margin-right: 0 !important;
      aspect-ratio: 7/4 !important;
    }


    &-image {
      height: 100%;
      width: 100%;
      position: relative;

      img {
        transition: .4s ease-in-out;
      }
    }

    &-text {
      pointer-events: none;
      position: absolute;
      box-sizing: border-box;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: var(--margin);

      transition: .4s ease-in-out;
      background-color: rgba(black, 0.3);
      color: white;

      &__title {
        display: flex;
        font-weight: bold;
        align-items: center;
        margin-bottom: 0!important;
        height: calc(100% - var(--margin));
        transition: .4s ease-in-out;

        @media (max-width: $middle) {
          height: calc(100% - var(--margin) - .5rem);
        }

        h2 {
          font-size: clamp(0.75rem, 2.1vw, 1.25rem);
          text-align: left;
        }
      }

      &__date {
        font-size: clamp(0.65rem, 1.8vw, 1rem);
      }
    }

    &:hover {
      img {
        transform: scale(1.02);
      }
      .news__item-text__title {
        text-decoration: underline;
      }
      .news__item-text {
        background-color: rgba(black, 0.2);
      }
    }
  }
}

.news-article {
  & .container {
    padding-left: calc(var(--paddings) + 1.5rem);
    @media (max-width: $middle-s) {
      padding-left: 2rem;
    }
  }

  &__image {
    position: relative;
    aspect-ratio: 115 / 56;
    width: 100%;
    max-width: 90%;
    margin: 2rem auto 3rem;

    @media (max-width: $big) {
      max-width: 100%;
    }
  }

  p {
    text-align: start;
  }

  ul {
    list-style: disc;
    margin-bottom: 3.5rem;

    li {
      text-align: start;
      margin-left: 2rem;

      @media (max-width: $middle-s) {
        max-width: unset;
      }
    }
  }

  a {
    color: var(--orange);
    transition: .3s ease;

    &:hover {
      color: #693b04;
      letter-spacing: .04em;
    }
  }
}