
.projects {
  z-index: 0;
  position: relative;

  &__blog-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: clamp(60px, 12.500vw, 180px);

    &:before {
      position: absolute;
      content: '';
      top: clamp(40px, 8.333vw, 120px);
      left: 0;
      right: 0;
      height: 1px;
      background: currentColor;
    }
  }
}

.project-article.section {
  padding: var(--paddings) 0;
}

.project-article {
  & .container {
    padding-left: calc(var(--paddings) + 1.5rem);
    @media (max-width: $middle-s) {
      padding-left: 2rem;
    }
  }
  &__image {
    position: relative;
    aspect-ratio: 115 / 56;
    width: 100%;
    max-width: 90%;
    margin: 2rem auto 3rem;

    @media (max-width: $big) {
      max-width: 100%;
    }
  }

  h1 {
    font-weight: 600;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }

  h3 {
    font-weight: 700;
    text-align: center;
  }

  ul {
    list-style: disc;
    margin-bottom: 3.5rem;

    li {
      max-width: 80%;
      margin: 0 auto;
      
      @media (max-width: $middle-s) {
        max-width: unset;
      }
    }

    &.psychological-help-contact {
      list-style: none;
      font-weight: 800;
      font-size: 1.5rem;
      margin-bottom: 2rem;

      li {
        max-width: fit-content;
      }

      h2 {
        font-weight: 700;
        font-size: 1.25em;
      }
    }
  }

  .donor-block {
    position: relative;
    padding-bottom: 7rem;

    .image_map {
      position: relative;
      width: 100%;
      aspect-ratio: 61 / 40;
    }

    &__wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10rem 0 1rem;
      background: linear-gradient(0deg, rgba(155,219,206,1) 45%, rgba(0,0,0,0) 100%);

      p {
        margin-bottom: 0;
        margin-top: 1rem;
      }
    }

    &__item-wrap {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }

    &__item {
      height: 10vw;
      position: relative;
      aspect-ratio: 1/1;

      &.albom {
        aspect-ratio: 2/1;
      }
    }

    &__image {
      position: relative;
      aspect-ratio: 250/191;
      width: 100%;
    }
  }
}
