
.purchase {
  p {
    text-align: start;
    font-weight: 400;
  }
  &-title {
    margin-bottom: 1.5em;
    font-size: 2rem;
    text-transform: uppercase;
  }
  & .bold {
    font-weight: 600;
  }

  &-link {
    position: relative;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: currentColor;
      opacity: .7;
      transition: .5s ease;
    }

    &:hover {
      &:before {
        width: 100%;
      }
      & .to-document {
        transform: translate(1em, -50%)
      }
    }

    &.email {
      margin-left: .25em;
      color: #007aff;
    }

    & .to-document {
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + 0.5em);
      transition: .3s ease;
    }
  }
}