@import "vars";

.report {
  z-index: 0;
  position: relative;

  &__blog {
    &-wrap {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-top: clamp(60px, 12.500vw, 180px);

      &:before {
        position: absolute;
        content: '';
        top: clamp(40px, 8.333vw, 120px);
        left: 0;
        right: 0;
        height: 1px;
        background: currentColor;
      }
    }
  }
}

.blog {
  h2 {
    text-align: start;
    margin-bottom: 1rem;
    margin-top: 3.5rem;
    font-weight: 500;
    &.bold {
      font-weight: 700;
    }
  }

  h3 {
    text-align: start;
    margin-bottom: .5rem;
    font-weight: 500;
  }

  p {
    text-align: start;
  }

  &__text {
    margin-bottom: 2rem;

    &.mr-3 {
      margin-top: 3rem;
    }
  }

  a {
    color: var(--orange);
    transition: .3s ease;

    &:hover {
      color: #693b04;
      letter-spacing: .04em;
    }
  }

  &__date {
    display: block;
    text-align: center;
    color: #6d6565;
  }

  &__image {
    position: relative;
    aspect-ratio: 115 / 56;
    width: 100%;
    max-width: 90%;
    margin: 2rem auto 3rem;

    @media (max-width: $big) {
      max-width: 100%;
    }
  }

  .overflow-table {
    width: 100%;
    max-width: 100%;

    @media (max-width: $phone) {
      overflow: scroll;
      border: .5px solid #464646;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--dark);

    th, td {
      border: 1px solid var(--dark);
      text-align: left;
      padding: 0.25rem 0.5rem;

      &.block-sum {
        white-space: nowrap;
      }
    }
  }

  .blog__slide.relative {
    position: relative;

    .donor {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      aspect-ratio: 100 / 21;
      background: rgba(white, .5);
    }
  }
  
  &__documents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @media (max-width: $big) {
      display: flex;
      flex-direction: column;
    }

    iframe {
      width: 100%;
      height: auto;
      min-height: clamp(250px, 35vw, 480px);

      @media (max-width: $middle) {
        min-height: clamp(250px, 45vw, 480px);
      }
    }
  }
}
.blog__slider {
  z-index: 0;
  display: block;
}
.blog__slide {
  aspect-ratio: 4/3;
  user-select: none;
  max-height: 350px;
}

.back-home {
  &__wrap {
    width: 100%;
    overflow: scroll;
    border: 1px solid var(--dark);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__table {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    min-width: 1000px;
  }

  &__left {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
  }

  &__right {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
  }

  .cell {
    padding: 0.25rem 0.5rem;
    border-right: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);

    &.br0 {
      border-right: none;
    }
    &.bb0 {
      border-bottom: none;
    }
  }
}
