
.state-section {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .7;

  svg {
    z-index: 1;
  }

  path {
    fill: #2fa6fd;
    stroke: white;
  }

  .state-wrap {
    position: relative;
    z-index: 0;

    &-bg {
      position: absolute;
      left: -15px;
      top: -5px;
      height: calc(100% + 20px);
      width: calc(100% + 20px);
      z-index: -1;
    }
  }

  .state-shine {
    path {
      animation: states 1.5s ease-in-out;
    }

    @for $i from 1 through 27 {
      path:nth-child(#{$i}) {
        animation-delay: 0s + $i;
      }
    }

    @keyframes states {
      0% {
        fill: #2fa6fd;
      }
      50% {
        fill: #ecec6a;
      }
      100% {
        fill: #2fa6fd;
      }
    }
  }
}