
.team {

  &-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4%;
    row-gap: 3rem;
    margin-top: 4rem;

    @media (max-width: 850px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }
    @media (max-width: $phone-s) {
      display: flex;
      flex-direction: column;
    }

    .team-card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1rem;

      h3 {
        text-align: start;
        font-weight: 500;
        font-size: clamp(22px, 1.944vw, 1.75rem);
        margin-bottom: .5rem;
      }
      p {
        text-align: start;
        margin-bottom: .5rem;
      }
      a {
        transition: .3s ease;

        &:hover {
          color: var(--orange);
        }
      }


      &:hover {
        .team-portrait {
          border-radius: 0;

          img {
            transform: scale(1.05);
          }
        }
      }
    }
  }


  &-portrait {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 1.5rem;
    border-radius: 0 0 25% 0;
    overflow: hidden;
    transition: .4s ease;

    img {
      transition: .5s ease;
    }
  }
}