@import "vars";

.privacy, .terms {
  .terms-wrap {
    padding: 0 var(--paddings);

    @media (max-width: $middle) {
      padding: 0;
    }
  }

  h1 {
    font-weight: 500;
    margin-bottom: 1.5em;

    @media (max-width: $phone-s) {
      font-size: clamp(24px, 2.535vw, 2.5rem);
    }
  }

  h2 {
    text-align: left;
    font-weight: 500;
    margin-bottom: 1em;
  }

  p {
    text-align: left;
    margin-bottom: 4em;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.margin-bottom-small {
      margin-bottom: .5em;
    }
  }

  ul {
    margin-bottom: 3em;
    margin-top: 0;
  }

  a {
    font-weight: 500;
    color: #497777;
  }
}
